# Visual Studio
.vs/
*.user
*.suo
*.vcxproj.*
*.csproj.user

# Build Results
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
*.snupkg
project.lock.json
packages/

# Rider
.idea/

# Logs
*.log

# Test Results
TestResults/

# Mac/Linux System Files
.DS_Store

