<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<h2>Customers</h2>
<div class="search-container text-end">
  <input type="text"
         class="form-control"
         placeholder="Search by Customer Name"
         [(ngModel)]="searchTerm"
         (ngModelChange)="searchClientes()">
  <i class="fas fa-search search-icon"></i>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" (click)="sortData('CustomerName')">Customer Name</th>
      <th scope="col" (click)="sortData('LastOrderDate')">Last Order Date</th>
      <th scope="col" (click)="sortData('NextPredictedOrder')">Next Predicted Order</th>
    </tr>
  </thead>
  <tbody *ngIf="clientes.length > 0; else noData">
    <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 5, currentPage: page }">
      <td scope="row">{{ cliente.CustomerName }}</td>
      <td scope="row">{{ cliente.LastOrderDate | date:'shortDate' }}</td>
      <td>{{ cliente.NextPredictedOrder | date:'shortDate' }}</td>
      <td class="orders-modal text-danger" data-bs-toggle="modal" data-bs-target="#ViewOrdersModal" (click)="openOrdersModal(74)">VIEW ORDERS</td>
      <td class="orders-modal text-success" (click)="newOrderl()">NEW ORDER</td>
    </tr>
  </tbody>
</table>

<div class="pagination-container">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="ViewOrdersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h1 class="modal-title text-white fs-5" id="exampleModalLabel">Customer AHPOP - Orders</h1>
      </div>
      <div class="modal-body">
        <app-orden-list [customerId]="selectedCustomerId"></app-orden-list>
      </div>
      <a class="modal-body"></a>
      <div class="modal-footer">
        <div class="orders-modal text-danger" data-bs-dismiss="modal">CLOSE</div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <p>No hay clientes disponibles.</p>
</ng-template>


