<h4 class="modal-title text-white bg-success p-3">Customer AHPOP - Orders</h4>
<form (ngSubmit)="crearOrden()" [formGroup]="nuevaOrdenForm" class="container text-center">
  <fieldset>
    <legend class="mt-2 text-start">Order</legend>
    <div class="row mb-2">
      <div class="col">
        <input id="customerId" formControlName="customerId" type="number" required placeholder="customerId" />
        <div *ngIf="nuevaOrdenForm.get('customerId')?.invalid && nuevaOrdenForm.get('customerId')?.touched">
          <small>Customer ID es requerido.</small>
        </div>
      </div>

      <div class="col">
        <input id="employeeId" formControlName="employeeId" type="number" required placeholder="Employee*" />
        <div *ngIf="nuevaOrdenForm.get('employeeId')?.invalid && nuevaOrdenForm.get('employeeId')?.touched">
          <small>Employee ID es requerido.</small>
        </div>
      </div>

      <div class="col">
        <input id="shipperId" formControlName="shipperId" type="number" required placeholder="Shipper*" />
        <div *ngIf="nuevaOrdenForm.get('shipperId')?.invalid && nuevaOrdenForm.get('shipperId')?.touched">
          <small>Shipper ID es requerido.</small>
        </div>
      </div>
    </div>


    <div class="mt-3 mb-4">
      <input id="shipName" formControlName="shipName" type="text" required placeholder="Ship Name*" />
      <div *ngIf="nuevaOrdenForm.get('shipName')?.invalid && nuevaOrdenForm.get('shipName')?.touched">
        <small>Ship Name es requerido.</small>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col">
        <input id="shipAddress" formControlName="shipAddress" type="text" required placeholder="Ship Address*" />
        <div *ngIf="nuevaOrdenForm.get('shipAddress')?.invalid && nuevaOrdenForm.get('shipAddress')?.touched">
          <small>Ship Address es requerido.</small>
        </div>
      </div>

      <div class="col">
        <input id="shipCity" formControlName="shipCity" type="text" required placeholder="Ship City*" />
        <div *ngIf="nuevaOrdenForm.get('shipCity')?.invalid && nuevaOrdenForm.get('shipCity')?.touched">
          <small>Ship City es requerido.</small>
        </div>
      </div>

      <div class="col">
        <input id="shipCountry" formControlName="shipCountry" type="text" required placeholder="Ship Country*" />
        <div *ngIf="nuevaOrdenForm.get('shipCountry')?.invalid && nuevaOrdenForm.get('shipCountry')?.touched">
          <small>Ship Country es requerido.</small>
        </div>
      </div>
    </div>


    <div class="mt-3 mb-3">
      <input id="freight" formControlName="freight" type="number" required placeholder="$ Freight*" />
      <div *ngIf="nuevaOrdenForm.get('freight')?.invalid && nuevaOrdenForm.get('freight')?.touched">
        <small>Freight es requerido.</small>
      </div>
    </div>

  </fieldset>

  <fieldset formArrayName="orderDetails">
    <legend class="mt-2 text-start">Order Detail</legend>

    <div *ngFor="let producto of productos.controls; let i = index" [formGroupName]="i">

      <div class="mb-3">
        <input id="productId-{{ i }}" formControlName="productId" type="number" required placeholder="Product*"/>
        <div *ngIf="producto.get('productId')?.invalid && producto.get('productId')?.touched">
          <small>Product ID es requerido.</small>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col">
          <input id="unitPrice-{{ i }}" formControlName="unitPrice" type="number" required placeholder="$ Unit Price*"/>
          <div *ngIf="producto.get('unitPrice')?.invalid && producto.get('unitPrice')?.touched">
            <small>Unit Price es requerido.</small>
          </div>
        </div>

        <div class="col">
          <input id="qty-{{ i }}" formControlName="qty" type="number" required placeholder="Quantity*"/>
          <div *ngIf="producto.get('qty')?.invalid && producto.get('qty')?.touched">
            <small>Quantity es requerido.</small>
          </div>
        </div>

        <div class="col">
          <input id="discount-{{ i }}" formControlName="discount" type="number" step="0.01" min="0" max="1" required placeholder="Discount*"/>
        </div>

      </div>

      <!--<button type="button" (click)="eliminarProducto(i)">Eliminar Producto</button>-->
    </div>

    <!--<button type="button" (click)="agregarProducto()">Agregar Producto</button>-->
  </fieldset>

  <button type="submit" [disabled]="nuevaOrdenForm.invalid">Crear Orden</button>
</form>
